<div class="upload-container">
  <input type="file" accept="image/*" (change)="onFileSelected($event)" #fileInput style="display: none">

  <button type="button" (click)="fileInput.click()" class="btn-upload">
    Chọn ảnh từ máy tính
  </button>

  <div class="preview-area" *ngIf="imagePreview">
    <img [src]="imagePreview" alt="Preview" class="img-fluid">
  </div>

  <div *ngIf="imagePreview">
    <button type="button" (click)="save()" class="btn-analyze">
      Phân tích ảnh
    </button>
    <div *ngIf="resultText" class="result-box">
      {{ resultText | json}}
    </div>
  </div>

</div>